---
export const prerender = true;

import { getCollection } from "astro:content";

import ResourceLayout from "@/layouts/resource.astro";

export async function getStaticPaths() {
  const resources = await getCollection("resources");
  return resources.map(resource => ({
    params: { slug: resource.slug },
    props: { resource },
  }));
}

const { resource } = Astro.props;
const { Content } = await resource.render();
---

<ResourceLayout title={`${resource.data.title} | Timothy Pidashev`}>
  <article class="w-full mx-auto px-4 pt-6 sm:pt-12">
  <header class="mb-8">
    <h1 class="text-3xl sm:text-4xl font-bold text-yellow-bright mb-4">
      {resource.data.title}
    </h1>
  </header>
  <div class="prose prose-invert prose-lg max-w-none">
    <Content />
  </div>
  </article>
</ResourceLayout>
