---
const { content } = Astro.props;

import "@/style/globals.css";

import Header from "@/components/header";
import Footer from "@/components/footer";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
  <body class="bg-background text-foreground">
    <Header client:load />
    <main>
      <slot />
    </main>
    <Footer client:load />
	</body>
</html>
