---
const { content } = Astro.props;

import "@/style/globals.css";

import Header from "@/components/header";
import Footer from "@/components/footer";
import VineAnimation from "@/components/vines";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
  <body class="bg-background text-foreground">
    <Header client:load />
    <VineAnimation side="left" client:only="react" />
    <VineAnimation side="right" client:only="react" />
    <main>
      <slot />
    </main>
    <Footer client:load fixed=true />
	</body>
</html>
