@font-face {
    font-family: ComicCode;
    src: url("ComicCode-Regular.otf") format("opentype");
}

@font-face {
    font-family: ComicCodeBold;
    font-weight: bold;
    src: url("ComicCode-Bold.otf") format("opentype");
}

