---
import "@/style/globals.css"

import MainLayout from "@/layouts/main.astro";
import Intro from "@/components/about/intro";
---

<MainLayout content={{ title: "About | Timothy Pidashev" }}>
  <div class="flex items-center justify-center h-screen w-full">
    <Intro client:load />
  </div>
</MainLayout>
