---
import "@/style/globals.css"

import MainLayout from "@/layouts/main.astro";
---

<MainLayout content={{ title: "Projects | Timothy Pidashev" }}>
  <div class="flex items-center justify-center h-screen w-full">
    <h1 class="text-4xl text-yellow font-bold">Projects</h1>
  </div>
</MainLayout>
