---
import { CollectionEntry, getCollection } from "astro:content";
import MainLayout from "@/layouts/main.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();
---

<MainLayout>
  <article>
    <h1 class="title">{post.data.title}</h1>
    <p>by <a href={`/authors/${post.data.author.toLowerCase()}/`}>{post.data.author}</a>, 
      published {post.data.pubDate.toDateString()}, 
      tags: <strong>{post.data.tags.join(", ")}</strong>
    </p>
    <hr />
    <Content />
  </article>
</MainLayout>

